# Build output
target/

# Linux kernel and artifacts (fetched/built by `make linux`)
/linux/

# Cargo.lock is typically committed for binaries but not libraries
# Uncomment if this is a library
# Cargo.lock

*.id0
*.id1
*.id2
*.nam
*.til
*.o
*.bin
*.elf

.DS_Store

/tools/asl-parser/asl
/tools/asl-parser/asl-parsed
/tools/asl-parser/xml
